:root {
  --main-blackcolor: #212121;
  --main-backgroundcolor: #FFFFFF;
  --second-white-background: #F5F4FA;
  --accent-background: #2F303A;
  --accent-color: #2196F3;
  --accent-color-hover: #188CE8;
  --white-fontcolor: #FFFFFF;
  --grey-fontcolor: #757575;
  --black-logo-color: #000000;
  --grey-links: #212121;
}

/*! modern-normalize v1.1.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
/*
Document
========
*/
/**
Use a better box model (opinionated).
*/
*,
::before,
::after {
  box-sizing: border-box;
}

/**
1. Correct the line height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
3. Use a more readable tab size (opinionated).
*/
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -moz-tab-size: 4;
  /* 3 */
  tab-size: 4;
  /* 3 */
}

/*
Sections
========
*/
/**
1. Remove the margin in all browsers.
2. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
*/
body {
  margin: 0;
  /* 1 */
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  /* 2 */
}

/*
Grouping content
================
*/
/**
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
*/
hr {
  height: 0;
  /* 1 */
  color: inherit;
  /* 2 */
}

/*
Text-level semantics
====================
*/
/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr[title] {
  text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Tabular data
============
*/
/**
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/
table {
  text-indent: 0;
  /* 1 */
  border-color: inherit;
  /* 2 */
}

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
*/
button,
select {
  text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/
::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/
:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
Remove the additional ':invalid' styles in Firefox.
See: https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737
*/
:-moz-ui-invalid {
  box-shadow: none;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

body {
  color: var(--main-blackcolor);
  background-color: var(--main-backgroundcolor);
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
p,
a,
form,
label,
input,
textarea {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

.portfolio, .menu__list, .join__list, .address__items, .clients__list, .social__list, .team__list, .works__list, .feature__list, .social-links__list, .contacts-list, .nav__list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.portfolio__link, .address__link, .social-links__link, .nav__link,
.contacts__list--link, .logo--link {
  text-decoration: none;
}

.clients__title, .team__title, .works__title, .feature__name {
  font-family: inherit;
  font-weight: 700;
  line-height: 1.17;
  text-align: center;
}
@media screen and (max-width: 1199px) {
  .clients__title, .team__title, .works__title, .feature__name {
    font-size: 28px;
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .clients__title, .team__title, .works__title, .feature__name {
    font-size: 36px;
    margin-bottom: 50px;
  }
}

@media screen and (max-width: 1199px) {
  .menu, .clients, .team, .works, .feature {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .menu, .clients, .team, .works, .feature {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.feature__visually-hidden,
.menu__visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.container--alt {
  width: 100%;
  padding: 0px 15px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 480px) {
  .container--alt {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container--alt {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container--alt {
    width: 1200px;
  }
}

.logo {
  display: block;
  color: var(--black-logo-color);
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
}

.logo__text {
  color: var(--accent-color);
}

.logo--link {
  display: block;
  width: 145px;
  height: 31px;
  padding: 16px 0px;
}
@media screen and (min-width: 480px) {
  .logo--link {
    padding: 16px 0px;
  }
}
@media screen and (min-width: 768px) {
  .logo--link {
    padding-top: 24px;
    padding-bottom: 25px;
    margin-right: 87px;
  }
}

.logo--dark {
  color: var(--white-fontcolor);
  padding: 0;
  margin-bottom: 20px;
}
@media screen and (min-width: 480px) and (max-width: 1199px) {
  .logo--dark {
    margin-right: auto;
    margin-left: auto;
  }
}

.button,
.join-form__btn,
.modal__btn {
  color: var(--white-fontcolor);
  background-color: var(--accent-color);
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  align-items: center;
  letter-spacing: 0.06em;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  display: inline-block;
  padding: 10px 32px;
  min-width: 200px;
  min-height: 50px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button:hover,
.join-form__btn:hover,
.modal__btn:hover,
.button:focus .joun-btn:focus,
.modal__btn:focus {
  color: var(--white-fontcolor);
  background-color: var(--accent-color-hover);
}

.join-form__btn {
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  margin-left: 12px;
  padding: 10px 28px;
  box-shadow: rgba(0, 0, 0, 0.25);
}

.modal__button {
  position: absolute;
  top: 0%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  width: 30px;
  margin-top: 8px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: inherit;
  cursor: pointer;
  text-decoration: none;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (max-width: 767px) {
  .modal__button {
    left: 91%;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .modal__button {
    left: 91%;
  }
}
@media screen and (min-width: 1200px) {
  .modal__button {
    left: 93%;
  }
}

.modal__button:hover .modal__icon--close, .modal__button:focus .modal__icon--close {
  fill: rgb(33, 150, 243);
}

.menu-close,
.menu-open {
  display: block;
  margin: 0;
  padding: 10px 0px;
  border: none;
  background-color: transparent;
}
@media screen and (min-width: 768px) {
  .menu-close,
.menu-open {
    display: none;
  }
}

.menu-toggle__icons {
  width: 40px;
  height: 40px;
}

.menu-close {
  position: absolute;
  top: -0.1%;
  left: 89%;
}

.menu-close .icon-cross {
  display: none;
}

.menu-container.is-open .icon-cross {
  display: block;
}

.menu-container.is-open .icon-menu {
  display: none;
}

.menu-close.js-close-menu:hover .icon-cross,
.menu-close.js-close-menu:focus .icon-cross {
  fill: var(--accent-color);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
  z-index: 99999;
  overflow-y: auto;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opasity 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: visible;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.5);
}

.modal {
  position: absolute;
  left: 50%;
  top: 50%;
  padding: 40px;
  background-color: var(--main-backgroundcolor);
  border-radius: 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 1px 0px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  transform: translate(-50%, -50%) scale(1);
  transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (max-width: 767px) {
  .modal {
    min-width: 450px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .modal {
    min-width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .modal {
    min-width: 528px;
  }
}

.modal__form {
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .modal__form {
    min-width: 370px;
  }
}
@media screen and (min-width: 1200px) {
  .modal__form {
    min-width: 448px;
  }
}

.modal__title {
  margin-bottom: 12px;
  text-align: center;
  font-family: inherit;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.17;
}

.modal__input--textarea {
  min-height: 120px;
  padding-top: 12px;
  padding-left: 16px;
  font-family: inherit;
  font-size: 12px;
  line-height: 1.17;
  text-align: left;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.25);
  transition: outline 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  resize: none;
}
@media screen and (min-width: 480px) and (max-width: 1199px) {
  .modal__input--textarea {
    min-width: 370px;
  }
}
@media screen and (min-width: 1200px) {
  .modal__input--textarea {
    min-width: 448px;
  }
}

.modal__field {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 10px;
}

.modal__field--last-child {
  margin-bottom: 0px;
}

.modal__label {
  padding: 0;
  margin-bottom: 4px;
  font-family: inherit;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--grey-fontcolor);
}

.modal__input {
  height: 40px;
  padding-left: 42px;
  font-family: inherit;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--grey-fontcolor);
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.25);
  transition: outline 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 480px) and (max-width: 1199px) {
  .modal__input {
    min-width: 370px;
  }
}
@media screen and (min-width: 1200px) {
  .modal__input {
    min-width: 448px;
  }
}

.modal__label--checkbox {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  margin-top: 18px;
  font-family: inherit;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--grey-fontcolor);
}
@media screen and (min-width: 480px) and (max-width: 1199px) {
  .modal__label--checkbox {
    font-size: 12px;
  }
}
@media screen and (min-width: 1200px) {
  .modal__label--checkbox {
    font-size: 14px;
  }
}

.modal__link {
  color: rgb(33, 150, 243);
}

.modal__icon--change-color {
  position: absolute;
  top: 62%;
  left: 16px;
  transform: translateY(-50%);
}

.modal__input:hover,
.modal__input--textarea:hover,
.modal__input:focus,
.modal__input--textarea:focus {
  outline: 1px solid rgb(33, 150, 243);
}

.modal__input:hover ~ .modal__icon--change-color,
.modal__input:focus ~ .modal__icon--change-color {
  fill: rgb(33, 150, 243);
}

.modal__checkbox {
  display: flex;
  align-items: center;
  justify-content: center;
}

.checkbox {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.modal__checkbox .modal__label--checkbox::before {
  content: "";
  display: inline-block;
  margin-right: 8px;
  width: 16px;
  height: 15px;
  border: 2px solid var(--main-blackcolor);
}

.checkbox:checked + .modal__label--checkbox::before {
  background-color: var(--accent-color);
  background-image: url(../images/iconcheck.svg);
  background-size: contain;
  background-position: center;
  background-origin: border-box;
  border-color: var(--accent-color);
}

.modal__link {
  margin-left: 3px;
}

.page-header {
  position: relative;
}

.container__nav {
  margin: 0;
}
@media screen and (min-width: 768px) {
  .container__nav {
    display: flex;
    justify-content: space-between;
  }
}

@media screen and (max-width: 767px) {
  .container__nav {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .nav {
    display: flex;
  }
}

@media screen and (max-width: 767px) {
  .nav__list {
    display: flex;
    flex-wrap: wrap;
    row-gap: 32px;
    margin-bottom: 32px;
  }
}
@media screen and (min-width: 768px) {
  .nav__list {
    display: flex;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 768px) {
  .nav__list {
    display: flex;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 1200px) {
  .contacts-list {
    display: flex;
    margin-left: auto;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .contacts-list {
    margin-left: auto;
  }
}
@media screen and (max-width: 767px) {
  .contacts-list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column-reverse;
    margin-bottom: 64px;
  }
}

@media screen and (max-width: 767px) {
  .nav__items {
    width: 100%;
  }
}
@media screen and (min-width: 768px) {
  .nav__items:not(:last-child) {
    margin-right: 50px;
  }
}
@media screen and (min-width: 1200px) {
  .contacts-list__items:not(:last-child) {
    margin-right: 30px;
  }
}
.nav__link {
  display: block;
  align-items: center;
  color: var(--grey-links);
  font-weight: 500;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (max-width: 767px) {
  .nav__link {
    font-size: 40px;
    line-height: 1.17;
  }
}
@media screen and (min-width: 768px) {
  .nav__link {
    padding-top: 32px;
    padding-bottom: 32px;
    line-height: 1.14;
  }
}

.contacts__list--link {
  align-items: center;
  color: var(--grey-fontcolor);
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 1200px) {
  .contacts__list--link {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}

@media screen and (max-width: 767px) {
  .contacts-list--mail .contacts__list--link {
    font-size: 24px;
    line-height: 1.17;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .contacts-list--mail .contacts__list--link {
    padding-top: 21px;
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 767px) {
  .contacts-list--tel .contacts__list--link {
    font-size: 34px;
    line-height: 1.17;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .contacts-list--tel .contacts__list--link {
    padding-bottom: 21px;
  }
}

@media screen and (min-width: 480px) {
  .nav__link:hover, .nav__link:focus,
.contacts__list--link:hover,
.contacts__list--link:focus {
    color: var(--accent-color);
  }
}
@media screen and (min-width: 480px) {
  .nav--current {
    color: var(--accent-color);
    position: relative;
  }
}

@media screen and (min-width: 768px) {
  .contacts-list__items {
    display: flex;
    align-items: center;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .contacts-list__items {
    margin-left: auto;
  }
}

.contacts-list__icon {
  margin-right: 10px;
  fill: #757575;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (max-width: 767px) {
  .contacts-list__icon {
    display: none;
  }
}
.contacts__list--link:hover .contacts-list__icon, .contacts__list--link:focus .contacts-list__icon {
  fill: var(--accent-color);
}

@media screen and (min-width: 768px) {
  .hline:after {
    content: " ";
    display: block;
    border-bottom: 1px solid #ECECEC;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .nav--current::after {
    display: block;
    position: absolute;
    margin-top: 36px;
    content: "";
    width: 100%;
    height: 4px;
    background: var(--accent-color);
    border-radius: 2px;
  }
}
@media screen and (min-width: 1200px) {
  .nav--current::after {
    display: block;
    position: absolute;
    margin-top: 31px;
    content: "";
    width: 100%;
    height: 4px;
    background: var(--accent-color);
    border-radius: 2px;
  }
}

.menu-container {
  display: none;
  position: absolute;
  left: -1px;
  top: -1px;
  background-color: var(--main-backgroundcolor);
  padding: 48px 40px;
  transform: scale(0.5);
}

@media screen and (min-width: 768px) {
  .mobile-container,
.social-links {
    display: none;
  }
}
.menu-container.is-open {
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
  width: 100vw;
  height: 100vh;
  transform: scale(1);
  transition: transform 2500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-container__nav,
.menu-container__contacts {
  width: 100%;
}

@media screen and (max-width: 767px) {
  .mobile-menu {
    display: flex;
    align-items: normal;
    justify-content: space-between;
  }
}

.menu-container.is-open .social-links {
  display: block;
}

.social-links__list {
  display: flex;
  flex-wrap: wrap;
}

.social-links__item {
  display: block;
}
.social-links__item:not(:last-child) {
  margin-right: 10px;
}
.social-links__item:not(:first-child) {
  margin-left: 10px;
}

.social-links__link {
  color: var(--accent-color);
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
}

.social-links__line {
  display: block;
  height: 22px;
  border-left: 1px solid rgba(33, 33, 33, 0.2);
}

.menu-container--bottom-part {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-end;
}

.hero {
  text-align: center;
}
@media screen and (max-width: 767px) {
  .hero {
    padding: 118px 60px;
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    padding-top: 200px;
    padding-bottom: 200px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .hero {
    padding: 118px 204px;
  }
}

.hero__title {
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  margin-bottom: 30px;
  color: var(--white-fontcolor);
  font-weight: 900;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
@media screen and (max-width: 1199px) {
  .hero__title {
    font-size: 26px;
    line-height: 1.62;
  }
}
@media screen and (min-width: 1200px) {
  .hero__title {
    font-size: 44px;
    line-height: 1.36;
  }
}

.hero--overlay {
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  background-color: #C4C4C4;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("/images/mobile/1xmobileheader.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
@media screen and (min-width: 480px) and (max-width: 768px) {
  .hero--overlay {
    min-width: 480px;
    height: 400px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .hero--overlay {
    min-width: 768px;
    height: 400px;
  }
}
@media screen and (min-width: 1200px) {
  .hero--overlay {
    min-width: 1200px;
    height: 600px;
  }
}

@media screen and (max-width: 479px) {
  .hero--overlay {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("/images/mobile/1xmobileheader.jpg");
  }
}
@media screen and (max-width: 479px) and (min-device-pixel-ratio: 2), screen and (max-width: 479px) and (min-resolution: 192dpi), screen and (max-width: 479px) and (min-resolution: 2dppx) {
  .hero--overlay {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("/images/mobile/2xmobileheader.jpg");
  }
}
@media screen and (max-width: 767px) {
  .hero--overlay {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("/images/tablet/tablet1xheader.jpg");
  }
}
@media screen and (max-width: 767px) and (min-device-pixel-ratio: 2), screen and (max-width: 767px) and (min-resolution: 192dpi), screen and (max-width: 767px) and (min-resolution: 2dppx) {
  .hero--overlay {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("/images/tablet/tablet2xheader.jpg");
  }
}
@media screen and (min-width: 768px) {
  .hero--overlay {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("/images/PC/1xover.jpg");
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero--overlay {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("/images/PC/2xover.jpg");
  }
}
.feature__title {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  margin-bottom: 10px;
}
@media screen and (max-width: 767px) {
  .feature__title {
    text-align: center;
  }
}

.feature__description {
  color: var(--grey-fontcolor);
  line-height: 1.7;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .feature__list {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
}
@media screen and (min-width: 1200px) {
  .feature__list {
    display: flex;
  }
}

@media screen and (max-width: 767px) {
  .feature__items {
    width: 450px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .feature__items {
    width: 354px;
    margin: 15px;
  }
}
@media screen and (min-width: 1200px) {
  .feature__items {
    width: 270px;
  }
}

.feature__box {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  border-radius: 4px;
  background-color: #F5F4FA;
  text-align: center;
}
@media screen and (max-width: 767px) {
  .feature__box {
    width: 450px;
    height: 120px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .feature__box {
    width: 354px;
    height: 120px;
  }
}
@media screen and (min-width: 1200px) {
  .feature__box {
    width: 270px;
    height: 120px;
  }
}

@media screen and (max-width: 767px) {
  .feature__items:not(:last-child) {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .feature__items:not(:last-child) {
    margin-right: 30px;
  }
}

@media screen and (max-width: 1199px) {
  .works {
    display: none;
  }
}

.works__list {
  display: flex;
}

.works__list .works__items + .works__items {
  margin-left: 30px;
}

.works--padding-minus {
  padding-top: 0;
}

.works__items {
  position: relative;
}

.works__text {
  display: flex;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 70px;
  justify-content: center;
  align-items: center;
  background-color: rgba(47, 48, 58, 0.8);
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--main-backgroundcolor);
}

.team {
  background-color: var(--second-white-background);
}

.team__position {
  color: var(--grey-fontcolor);
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  margin-bottom: 16px;
}

.team__name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  margin-bottom: 10px;
}

.team__foto {
  margin-bottom: 30px;
}
@media screen and (max-width: 767px) {
  .team__foto {
    width: 450px;
    height: 460px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .team__foto {
    width: 354px;
    height: 374px;
  }
}
@media screen and (min-width: 1200px) {
  .team__foto {
    width: 270px;
    height: 260px;
  }
}

@media screen and (max-width: 767px) {
  .team__list {
    display: flex;
    flex-wrap: wrap;
    wrap: 4;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .team__list {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
}
@media screen and (min-width: 1200px) {
  .team__list {
    display: flex;
  }
}

@media screen and (max-width: 767px) {
  .team__items {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .team__items {
    margin: 15px;
  }
}
@media screen and (min-width: 1200px) {
  .team__list .team__items + .team__items {
    margin-left: 30px;
  }
}
.team__list .team__items {
  background: var(--main-backgroundcolor);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.social__list {
  display: flex;
  align-items: center;
}
@media screen and (max-width: 767px) {
  .social__list {
    margin-left: 122px;
    margin-right: 122px;
    margin-bottom: 24px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .social__list {
    margin-left: 74px;
    margin-right: 74px;
    margin-bottom: 24px;
  }
}
@media screen and (min-width: 1200px) {
  .social__list {
    margin-bottom: 30px;
    margin-left: 32px;
    margin-right: 32px;
  }
}

.social__item {
  height: 44px;
  width: 44px;
}

.social__item:nth-last-child(-n+3) {
  margin-left: 10px;
}

.social__link {
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 22px;
  border: none;
  background-color: inherit;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social__icon {
  fill: #AFB1B8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social__link:hover, .social__link:focus {
  background-color: var(--accent-color);
}

.social__link:hover .social__icon, .social__link:focus .social__icon {
  fill: var(--white-fontcolor);
}

.clients__list {
  display: flex;
  align-items: center;
}
@media screen and (max-width: 767px) {
  .clients__list {
    flex-wrap: wrap;
    wrap: 3;
    margin: -15px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .clients__list {
    flex-wrap: wrap;
    wrap: 2;
    margin: -15px;
  }
}

.clients__items {
  height: 92px;
}
@media screen and (max-width: 767px) {
  .clients__items {
    width: 210px;
    margin: 15px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .clients__items {
    width: 226px;
    margin: 15px;
  }
}
@media screen and (min-width: 1200px) {
  .clients__items {
    width: 170px;
    margin-right: 30px;
  }
}

.clients__link {
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border: 1px solid rgb(175, 177, 184);
  border-radius: 4px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients__link:last-child {
  margin-right: 0;
}

.clients__icon {
  fill: #AFB1B8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients__link:hover .clients__icon, .clients__link:focus .clients__icon {
  fill: #2196F3;
}

.clients__link:hover, .clients__link:focus {
  border-color: #2196F3;
}

.footer {
  background-color: var(--accent-background);
  color: var(--white-fontcolor);
  padding-top: 60px;
  padding-bottom: 60px;
}

.address {
  line-height: 1.71;
  font-style: normal;
}

.address__items {
  color: rgba(255, 255, 255, 0.6);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address__link {
  color: inherit;
}

.address--street {
  color: var(--white-fontcolor);
}

.address__link:hover, .address__link:focus {
  color: var(--accent-color);
}

.address__items {
  margin-bottom: 9px;
}

.address__items:last-child {
  margin-bottom: 0px;
}

.join__title,
.join-form__title {
  font-family: inherit;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  margin-bottom: 20px;
}
@media screen and (max-width: 1199px) {
  .join__title,
.join-form__title {
    text-align: center;
  }
}

@media screen and (min-width: 1200px) {
  .container--alt {
    display: flex;
    align-items: baseline;
  }
}

@media screen and (min-width: 768px) {
  .footer--first-flex {
    display: flex;
    align-items: baseline;
    justify-content: space-around;
  }
}

@media screen and (max-width: 1199px) {
  .footer__address {
    text-align: center;
    margin-bottom: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .footer__address {
    margin-right: 70px;
  }
}

@media screen and (max-width: 1199px) {
  .join {
    margin-bottom: 60px;
  }
}

.join__list {
  display: flex;
  align-items: baseline;
}
@media screen and (max-width: 1199px) {
  .join__list {
    justify-content: center;
  }
}

.join__items:nth-last-child(-n+3) {
  margin-left: 10px;
}

.join__link {
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  height: 44px;
  width: 44px;
  border-radius: 22px;
  border: none;
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.join__link:hover, .join__link:focus {
  background-color: var(--accent-color);
}

.join-form {
  margin-left: auto;
}

@media screen and (min-width: 1200px) {
  .join-form__email {
    display: flex;
  }
}

.join-form__email-form {
  position: relative;
  /* overflow: hidden; */
}
@media screen and (max-width: 1199px) {
  .join-form__email-form {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
}

.join-form__input {
  min-width: 358px;
  min-height: 50px;
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: none;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: var(--accent-background);
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
  padding-left: 16px;
}

.join-form__label {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}

.join-form__iconsend {
  margin-left: 10px;
}

.join-form__button-part {
  display: flex;
  justify-content: center;
}

.menu__button {
  display: block;
  color: var(--main-blackcolor);
  background-color: var(--second-white-background);
  border-radius: 4px;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  cursor: pointer;
  border: none;
}

@media screen and (min-width: 768px) {
  .menu__button {
    margin-right: 8px;
  }
}
@media screen and (max-width: 767px) {
  .menu__list {
    display: flex;
    flex-wrap: wrap;
    row-gap: 15px;
    column-gap: 8px;
    margin-bottom: 40px;
    width: 326px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .menu__list {
    display: flex;
    justify-content: center;
    margin-bottom: 14px;
    height: 54px;
  }
}
@media screen and (min-width: 1200px) {
  .menu__list {
    display: flex;
    justify-content: center;
    margin-bottom: 34px;
    height: 54px;
  }
}

.menu__button {
  padding: 6px 22px;
  box-shadow: none;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu__button:hover, .menu__button:focus {
  color: var(--white-fontcolor);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio__foto {
  display: block;
}
@media screen and (max-width: 767px) {
  .portfolio__foto {
    width: 450px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .portfolio__foto {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .portfolio__foto {
    width: 370px;
  }
}

.portfolio__name {
  font-family: inherit;
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--grey-links);
}

.portfolio__type {
  font-size: 16px;
  line-height: 1.88;
  color: var(--grey-fontcolor);
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .portfolio {
    display: flex;
    flex-wrap: wrap;
  }
}
@media screen and (min-width: 1200px) {
  .portfolio {
    display: flex;
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 767px) {
  .portfolio__element:not(:last-child) {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .portfolio__element {
    width: 354px;
    margin: 15px;
  }
  .portfolio {
    margin: -15px;
  }
}
@media screen and (min-width: 1200px) {
  .portfolio__element {
    margin-right: 30px;
    margin-bottom: 30px;
  }
  .portfolio__element:nth-child(3n) {
    margin-right: 0;
  }
  .portfolio__element:nth-last-child(-n+3) {
    margin-bottom: 0;
  }
}
.portfolio__link {
  display: flex;
  flex-direction: column;
  height: 100%;
  box-shadow: none;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio__link:hover, .portfolio__link:focus {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.portfolio__legend {
  flex-grow: 1;
  border-left: 1px solid #EEEEEE;
  border-right: 1px solid #EEEEEE;
  border-bottom: 1px solid #EEEEEE;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.portfolio__description {
  position: relative;
  overflow: hidden;
}

.portfolio__text {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  width: 100%;
  height: 100%;
  padding: 63px 24px 40px 24px;
  opacity: 0;
  background-color: rgba(33, 150, 243, 0.9);
  color: rgb(255, 255, 255);
  font-size: 18px;
  line-height: 1.55;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio__link:hover .portfolio__text, .portfolio__link:focus .portfolio__text {
  opacity: 1;
  transform: translateY(0);
}/*# sourceMappingURL=main.css.map */