.logo {
    display: block;
    color: var(--black-logo-color);
    font-family: $secondary-font;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
}

.logo__text {
    color: var(--accent-color);
}

.logo--link {
    display: block;
    width: 145px;
    height: 31px;
    padding-top: 24px;
    padding-bottom: 25px;
    @extend %link;
}

.logo--dark {
    color: var(--white-fontcolor);
    padding: 0;
    margin-bottom: 20px;
}