.button,
.join-form__btn,
.modal__btn {
    color: var(--white-fontcolor);
    background-color: var(--accent-color);
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    align-items: center;
    letter-spacing: 0.06em;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    display: inline-block;
    padding: 10px 32px;
    min-width: 200px;
    min-height: 50px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button:hover,
.join-form__btn:hover,
.modal__btn:hover,
.button:focus .joun-btn:focus,
.modal__btn:focus {
    color: var(--white-fontcolor);
    background-color: var(--accent-color-hover);
}

.join-form__btn {
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    margin-left: 12px;
    padding: 10px 28px;
    box-shadow: rgba(0, 0, 0, 0.25);
}

.modal__button {
    position: absolute;
    top: 0%;

    display: flex;

    align-items: center;
    justify-content: center;
    height: 30px;
    width: 30px;
    margin-top: 8px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: inherit;
    cursor: pointer;
    text-decoration: none;

    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

    @media screen and (max-width: 767px) {
        left: 91%;
    }
    @media screen and (min-width: 768px) and (max-width: 1199px) {
        left: 91%;
    }
    @media screen and (min-width: 1200px) {
        left: 93%;
    }
}

.modal__icon--close {
    .modal__button:hover &,
    .modal__button:focus & {
        fill: rgba(33, 150, 243, 1);
    }
}

.menu-toggle {
    display: block;
    margin: 0;
    padding: 10px 0px;
    border: none;
    background-color: transparent;
    z-index: 99999;

    @media screen and (min-width: 768px) {
        display: none;
    }
}

.menu-toggle .icon-cross {
    display: none;
}

.menu-toggle.is-open .icon-cross {
    display: block;
}

.menu-toggle.is-open .icon-menu {
    display: none;
}

.menu-toggle.is-open:hover .icon-cross,
.menu-toggle.is-open:focus .icon-cross {
    fill: var(--accent-color);
}
