.logo {
    display: block;
    color: var(--black-logo-color);
    font-family: $secondary-font;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
}

.logo__text {
    color: var(--accent-color);
}

.logo--link {
    display: block;
    width: 145px;
    height: 31px;
    padding: 16px 0px;
    
    @extend %link;
    @media screen and (min-width: 480px) {
            padding: 16px 0px;
        }
    @media screen and (min-width: 768px) {
            padding-top: 24px;
            padding-bottom: 25px;
        }
    @media screen and (min-width: 768px) and (max-width: 1599px) {
            margin-right: 87px;
    }

}

.logo--dark {
    color: var(--white-fontcolor);
    padding: 0;
    margin-bottom: 20px;
}