.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 1;
    z-index: 99999;
    overflow-y: auto;
    background-color: rgba(0, 0, 0, 0.2);
    transition: opasity 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
    opacity: 0;
    pointer-events: none;
    visibility: visible;
}

.backdrop.is-hidden .modal {
    transform: translate(-50%, -50%) scale(0.5);

}

.modal {
    position: absolute;
    left: 50%;
    padding: 40px;
    background-color: var(--main-backgroundcolor);
    border-radius: 4px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 1px 0px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    transform: translate(-50%, -50%) scale(1);
    transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1);

@media screen and (max-width: 767px) {
    min-width: 450px;
    top: 70%;
}
@media screen and (min-width: 768px) and (max-width: 1599px) {
    min-width: 450px;
    top: 95%;
}
@media screen and (min-width: 1600px) {
    min-width: 528px;
    top: 50%;
}
}

.modal__form {
    margin-left: auto;
    margin-right: auto;
    @media screen and (min-width: 768px) and (max-width: 1599px) {
        min-width: 370px;
    }
    @media screen and (min-width: 1600px) {
        min-width: 448px;
    }
}

.modal__title {
    margin-bottom: 12px;
    text-align: center;
    font-family: inherit;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.17;
}

.modal__input--textarea {
    min-height: 120px;
    padding-top: 12px;
    padding-left: 16px;
    font-family: inherit;
    font-size: 12px;
    line-height: 1.17;
    text-align: left;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.25);
    transition: outline 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    resize: none;
    @media screen and (min-width: 480px) and (max-width: 1599px) {
        min-width: 370px;
    }

    @media screen and (min-width: 1600px) {
        min-width: 448px;
    }
}

.modal__field {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 10px;
}

.modal__field--last-child {
    margin-bottom: 0px;
}

.modal__label {
    padding: 0;
    margin-bottom: 4px;
    font-family: inherit;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    color: var(--grey-fontcolor);
}

.modal__input {
    height: 40px;
    padding-left: 42px;
    font-family: inherit;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    color: var(--grey-fontcolor);
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.25);
    transition: outline 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    @media screen and (min-width: 480px) and (max-width: 1599px) {
        min-width: 370px;
    }

    @media screen and (min-width: 1600px) {
        min-width: 448px;
    }
}

.modal__label--checkbox {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
    margin-top: 18px;
    font-family: inherit;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: var(--grey-fontcolor);
    @media screen and (min-width: 480px) and (max-width: 1599px) {
        font-size: 12px;
    }
    @media screen and (min-width: 1600px) {
        font-size: 14px;
    }
}

.modal__link {
    color: rgba(33, 150, 243, 1);
}

.modal__icon--change-color {
    position: absolute;
    top: 62%;
    left: 16px;
    transform: translateY(-50%);
}

.modal__input:hover,
.modal__input--textarea:hover,
.modal__input:focus,
.modal__input--textarea:focus {
    outline: 1px solid rgba(33, 150, 243, 1);
}

.modal__input:hover~.modal__icon--change-color,
.modal__input:focus~.modal__icon--change-color {
    fill: rgba(33, 150, 243, 1);
}

.modal__checkbox {
    display: flex;
    align-items: center;
    justify-content: center;
}

.checkbox {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.modal__checkbox .modal__label--checkbox::before {
    content: "";
    display: inline-block;
    margin-right: 8px;
    width: 16px;
    height: 15px;
    border: 2px solid var(--main-blackcolor);
}

.checkbox:checked+.modal__label--checkbox::before {
    background-color: var(--accent-color);
    background-image: url(../images/iconcheck.svg);
    background-size: contain;
    background-position: center;
    background-origin: border-box;
    border-color: var(--accent-color);
}

.modal__link {
    margin-left: 3px;
}