.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

.container--alt {
    width: 1200px;
    padding: 0px 15px;
    margin-left: auto;
    margin-right: auto;
}