.container {
    margin-left: auto;
    margin-right: auto;

@media screen and (min-width: 480px) {
    width: 480px;
    padding-left: 15px;
    padding-right: 15px;
}  

@media screen and (min-width: 768px) {
    width: 768px;
    padding-left: 15px;
    padding-right: 15px;
}

@media screen and (min-width: 1600px) {
    width: 1600px;
    padding-left: 215px;
    padding-right: 215px;

}
}

.container--alt {
    padding: 0px 15px;
    margin-left: auto;
    margin-right: auto;

@media screen and (min-width: 480px) {
        width: 480px;
    }

@media screen and (min-width: 768px) {
    width: 768px;
}

@media screen and (min-width: 1600px) {
    width: 1600px;
    padding-left: 215px;
    padding-right: 215px;
}
}