body {
    color: var(--main-blackcolor);
    background-color: var(--main-backgroundcolor);
    font-family: $main-font;
    font-size: 14px;
    letter-spacing: 0.03em;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
p,
a,
form,
label,
input,
textarea {
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}
