:root {
    --main-blackcolor: #212121;
    --main-backgroundcolor: #FFFFFF;
    --second-white-background: #F5F4FA;
    --accent-background: #2F303A;
    --accent-color: #2196F3;
    --accent-color-hover: #188CE8;
    --white-fontcolor: #FFFFFF;
    --grey-fontcolor: #757575;
    --black-logo-color: #000000;
    --grey-links: #212121;
}

$main-blackcolor: #212121;
$main-backgroundcolor: #FFFFFF;
$second-white-background: #F5F4FA;
$accent-background: #2F303A;
$accent-color: #2196F3;
$accent-color-hover: #188CE8;
$white-fontcolor: #FFFFFF;
$grey-fontcolor: #757575;
$black-logo-color: #000000;
$grey-links: #212121;

// Змінні SASS
$main-font: "Roboto", sans-serif;
$secondary-font: "Raleway", sans-serif;