.clients {
    @extend %section;
}

.clients__title {
    @extend %section-title;
}

.clients__list {
    display: flex;
    align-items: center;
    @extend %list;
}

.clients__items {
    width: 170px;
    height: 92px;
    margin-right: 30px;
}

.clients__link {
    align-content: center;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border: 1px solid rgba(175, 177, 184, 1);
    border-radius: 4px;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients__link:last-child {
    margin-right: 0;
}

.clients__icon {
    fill: #AFB1B8;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients__icon {
    .clients__link:hover &,
    .clients__link:focus & {
        fill: #2196F3;
    }
}

.clients__link {
    &:hover,
    &:focus {
        border-color: #2196F3;
    }
}