.feature {
    @extend %section;
}

.feature__name {
    @extend %section-title;
}

.feature__title {
    font-size: 14px;
    font-weight: 700;
    line-height: 1.14;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.feature__description {
    color: var(--grey-fontcolor);
    line-height: 1.7;
}

.feature__list {
    @extend %list;
}

.feature__items {
    width: 270px;
}

.feature__box {
    justify-content: center;
    align-items: center;
    width: 270px;
    height: 120px;
    margin-bottom: 30px;
    border-radius: 4px;
    background-color: #F5F4FA;
    text-align: center;
}

.feature__items:not(:last-child) {
    margin-right: 30px;
}