.hero {
    text-align: center;
    padding-top: 200px;
    padding-bottom: 200px;
}

.hero__title {
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    margin-bottom: 30px;

    color: var(--white-fontcolor);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}

.hero--overlay {
    box-sizing: border-box;
    max-width: 1600px;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
    background-color: #C4C4C4;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/people.jpg);
    /* background-image: url(../images/people.jpg); */
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}