.hero {
    width: 100vw;
    text-align: center;

    @media screen and (max-width: 767px) {
        padding: 118px 60px;
    }

    @media screen and (min-width: 1200px) {
        padding-top: 200px;
        padding-bottom: 200px;
    }

    @media screen and (min-width: 768px) and (max-width: 1199px) {
        padding: 118px 204px;
    }
}

.hero__title {
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    margin-bottom: 30px;

    color: var(--white-fontcolor);
    font-weight: 900;
    letter-spacing: 0.06em;
    text-transform: uppercase;

    @media screen and (max-width: 1199px) {
        font-size: 26px;
        line-height: 1.62;
    }

    @media screen and (min-width: 1200px) {
        font-size: 44px;
        line-height: 1.36;
    }
}

.hero--overlay {
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    background-color: #C4C4C4;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/mobile/1xmobileheader.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    @media screen and (min-width: 480px) and (max-width: 768px) {
        min-width: 480px;
        height: 400px;
    }
    
    @media screen and (min-width: 768px) and (max-width: 1199px) {
        min-width: 768px;
        height: 400px;
    }

    @media screen and (min-width: 1200px) {
        min-width: 1200px;
        height: 600px;
    }
}

@media screen and (max-width: 479px) {
    .hero--overlay {
        background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/mobile/1xmobileheader.jpg");
    }
    @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
        .hero--overlay {
            background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/mobile/2xmobileheader.jpg");
        }
    }
}

@media screen and (max-width: 767px) {
    .hero--overlay {
        background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/tablet/tablet1xheader.jpg");
    }

    @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
        .hero--overlay {
            background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/tablet/tablet2xheader.jpg");
        }
    }
}

@media screen and (min-width: 768px) {
    .hero--overlay {
        background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/PC/1xover.jpg");
    }

    @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
        .hero--overlay {
            background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/PC/2xover.jpg");
        }
    }
}