.page-header {
    position: relative;
}

.container__nav {
    margin: 0;
    @media screen and (min-width: 768px) {
        display: flex;
        margin-right: auto;
        margin-left: auto;
    }
}

@media screen and (max-width: 767px) {
    .container__nav {
        display: none;
    }
}

.nav {
    @media screen and (min-width: 768px) {
        display: flex;
    }
}

.nav__link,
.contacts__list--link {
    @extend %link;
}

.nav__list {
    @extend %list;
    @media screen and (min-width: 768px) {
        display: flex;
    }
    @media screen and (min-width: 768px) and (max-width: 1199px) {
        margin-left: auto;
        margin-right: auto;
    }
}

.contacts-list {
    @extend %list;
    @media screen and (min-width: 1200px) {
        display: flex;
    }
    @media screen and (min-width: 768px) and (max-width: 1199px) {
        margin-left: auto;
        width: 161px;
    } 
    @media screen and (max-width: 767px) {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column-reverse;
        margin-bottom: 64px;
        }
}

.nav__list {
    @media screen and (max-width: 767px) {
        margin-bottom: 302px;
        }

    @media screen and (min-width: 768px) and (max-width: 1199px) {
        margin-right: auto;
        margin-left: auto;
    }

    @media screen and (min-width: 1200px) {
        margin-left: 93px;
        margin-right: 318px;
    } 

}

@media screen and (max-width: 767px) {
    .nav__items:not(:last-child) {
        margin-bottom: 32px;
    }

    .contacts-list__items:last-child {
        margin-bottom: 32px;
    }

}

@media screen and (min-width: 768px) {
    .nav__items:not(:last-child) {
        margin-right: 50px;
    }
}

@media screen and (min-width: 1200px) {
    .contacts-list__items:not(:last-child) {
        margin-right: 30px;
    }
}


.nav__link {
    display: block;
    align-items: center;
    color: var(--grey-links);
    font-weight: 500;
    letter-spacing: 0.02em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    @media screen and (max-width: 767px) {
        font-size: 40px;
        line-height: 1.17;
    }    

    @media screen and (min-width: 768px) {
        padding-top: 32px;
        padding-bottom: 32px;
        line-height: 1.14;
        }
}

.contacts__list--link {
    align-items: center;
    color: var(--grey-fontcolor);
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    @media screen and (min-width: 1200px) {
        padding-top: 32px;
        padding-bottom: 32px;
    }
}

.contacts-list--mail .contacts__list--link {
    @media screen and (max-width: 767px) {
    font-size: 24px;
    line-height: 1.17;
    }
    @media screen and (min-width: 768px) and (max-width: 1199px) {
    padding-top: 21px;
    margin-bottom: 10px;
    }
}

.contacts-list--tel .contacts__list--link {
    @media screen and (max-width: 767px) {
    font-size: 34px;
    line-height: 1.17
    }
    @media screen and (min-width: 768px) and (max-width: 1199px) {
        padding-bottom: 21px;
    }
}

// .nav__link,
// .contacts__list--link {
//     &:hover,
//     &:focus {
//         color: var(--accent-color);
//     }
// }

@media screen and (min-width: 480px) {
    .nav__link,
    .contacts__list--link {
        &:hover,
        &:focus {
        color: var(--accent-color);
        }
    }
}

.nav--current {
    @media screen and (min-width: 480px) {
        color: var(--accent-color);
        position: relative;
    }
}

.contacts-list__items {
    @media screen and (min-width: 768px) {
        display: flex;
        align-items: center;
    }
    @media screen and (min-width: 768px) and (max-width: 1199px) {
        margin-left: auto;
    }
}

.contacts-list__icon {
    margin-right: 10px;
    fill: #757575;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (max-width: 767px) {
    .contacts-list__icon {
        display: none;
    }
}

.contacts__list--link {
    &:hover .contacts-list__icon,
    &:focus .contacts-list__icon {
        fill: var(--accent-color);
    }
}

.hline:after {
    @media screen and (min-width: 768px) {
        content: " ";
        display: block;
        border-bottom: 1px solid #ECECEC;
    }
}

.nav--current::after {
    @media screen and (min-width: 768px) and (max-width: 1199px) {
        display: block;
        position: absolute;
        margin-top: 36px;
        content: "";
        width: 100%;
        height: 4px;
        background: var(--accent-color);
        border-radius: 2px;
    }
    @media screen and (min-width: 1200px) {
        display: block;
        position: absolute;
        margin-top: 31px;
        content: "";
        width: 100%;
        height: 4px;
        background: var(--accent-color);
        border-radius: 2px;
    }
}

.menu-container {
    display: none;
    position: absolute;
    width: 100%;
    height: 796px;
    left: -1px;
    top: -1px;
    background-color: var(--main-backgroundcolor);
    opacity: 1;
    z-index: 999;
    padding-top: 48px;
    padding-left: 40px;

    transform: translateX(100%);
    transition: 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

// .menu-container::after {
//     content: '';
//     background: var(--main-backgroundcolor);
//     position: fixed;
//     left: 0;
//     top:0;
//     width: 100%;
//     height: 100%;
//     z-index: 9999999;
// }

// .menu-container__background {
//     position: fixed;
//     top: 0;
//     left: 0;
//     width: 100%;
//     height: 100%;
//     opacity: 1;
//     z-index: 1;
//     background-color: var(--main-backgroundcolor);
//     transition: opacity 500ms cubic-bezier(0.4, 0, 0.2, 1);
// }

@media screen and (min-width: 768px) {
    .mobile-container,
    .social-links {
        display: none;
    }
}

.menu-container.is-open {
    display: block; 
    transform: translateX(0);
}

.mobile-menu {

    @media screen and (max-width: 767px) {
            display: flex;
            align-items: normal;
            justify-content: space-between;
        }
}

.menu-toggle__icons {
    height: 40px;
    width: 40px;
}

.menu-container.is-open .social-links {
    display: block;
}

.social-links__list {
    @extend %list;
    display: flex;
    margin-bottom: 48px;
}

.social-links__item {
    display: block;
    &:not(:last-child) {
        margin-right: 10px;
    }
    &:not(:first-child) {
        margin-left: 10px;
    }
}

.social-links__link {
    @extend %link;
    color: var(--accent-color);
    font-size: 18px;
    line-height: 1.22;
    letter-spacing: 0.02em;
}

.social-links__line {
    display: block;
    height: 22px;
    border-left: 1px solid rgba(33, 33, 33, 0.2);
}