.page-header {
    position: relative;
}

.container__nav {
    margin: 0;
    @media screen and (min-width: 768px) {
        display: flex;
        justify-content: space-between;
    }
}

@media screen and (max-width: 767px) {
    .container__nav {
        display: none;
    }
}

.nav {
    @media screen and (min-width: 768px) {
        display: flex;
    }
}

.nav__link,
.contacts__list--link {
    @extend %link;
}

.nav__list {
    @extend %list;
    @media screen and (max-width: 767px) {
        display: flex;
        flex-wrap: wrap;
        row-gap: 32px;
        margin-bottom: 32px;
    }
    @media screen and (min-width: 768px) {
        display: flex;
        margin-left: auto;
        margin-right: auto;
    }
}

@media screen and (min-width: 768px) {
    .nav__list {
        display: flex;
            margin-left: auto;
            margin-right: auto;
    }
}

.contacts-list {
    @extend %list;
    @media screen and (min-width: 1200px) {
        display: flex;
        margin-left: auto;
    }
    @media screen and (min-width: 768px) and (max-width: 1199px) {
        margin-left: auto;
        // width: 161px;
    } 
    @media screen and (max-width: 767px) {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column-reverse;
        row-gap: 32px;
        margin-bottom: 64px;
        }
}

@media screen and (max-width: 767px) {
    .nav__items {
        width: 100%;
    }
}

@media screen and (min-width: 768px) {
    .nav__items:not(:last-child) {
        margin-right: 50px;
    }
}


@media screen and (min-width: 1200px) {
    .contacts-list__items:not(:last-child) {
        margin-right: 30px;
    }
}


.nav__link {
    display: block;
    align-items: center;
    color: var(--grey-links);
    font-weight: 500;
    letter-spacing: 0.02em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    @media screen and (max-width: 767px) {
        font-size: 40px;
        line-height: 1.17;
    }    

    @media screen and (min-width: 768px) {
        padding-top: 32px;
        padding-bottom: 32px;
        line-height: 1.14;
        }
}

.contacts__list--link {
    align-items: center;
    color: var(--grey-fontcolor);
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    @media screen and (min-width: 1200px) {
        padding-top: 32px;
        padding-bottom: 32px;
    }
}

.contacts-list--mail .contacts__list--link {
    @media screen and (max-width: 767px) {
    font-size: 24px;
    line-height: 1.17;
    }
    @media screen and (min-width: 768px) and (max-width: 1199px) {
    padding-top: 21px;
    margin-bottom: 10px;
    }
}

.contacts-list--tel .contacts__list--link {
    @media screen and (max-width: 767px) {
    font-size: 34px;
    line-height: 1.17
    }
    @media screen and (min-width: 768px) and (max-width: 1199px) {
        padding-bottom: 21px;
    }
}


@media screen and (min-width: 480px) {
    .nav__link,
    .contacts__list--link {
        &:hover,
        &:focus {
        color: var(--accent-color);
        }
    }
}

.nav--current {
    @media screen and (min-width: 480px) {
        color: var(--accent-color);
        position: relative;
    }
}

.contacts-list__items {
    @media screen and (min-width: 768px) {
        display: flex;
        align-items: center;
    }
    @media screen and (min-width: 768px) and (max-width: 1199px) {
        margin-left: auto;
    }
}

.contacts-list__icon {
    margin-right: 10px;
    fill: #757575;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (max-width: 767px) {
    .contacts-list__icon {
        display: none;
    }
}

.contacts__list--link {
    &:hover .contacts-list__icon,
    &:focus .contacts-list__icon {
        fill: var(--accent-color);
    }
}

.hline:after {
    content: " ";
    display: block;
    border-bottom: 1px solid #ECECEC;
}

.nav--current::after {
    @media screen and (min-width: 768px) and (max-width: 1199px) {
        display: block;
        position: absolute;
        margin-top: 36px;
        content: "";
        width: 100%;
        height: 4px;
        background: var(--accent-color);
        border-radius: 2px;
    }
    @media screen and (min-width: 1200px) {
        display: block;
        position: absolute;
        margin-top: 31px;
        content: "";
        width: 100%;
        height: 4px;
        background: var(--accent-color);
        border-radius: 2px;
    }
}


.menu-container {
    display: none;
    position: absolute;
    left: -1px;
    top: -1px;
    background-color: var(--main-backgroundcolor);
    padding: 48px 40px;

    transform: scale(0.5); 
}

@media screen and (min-width: 768px) {
    .mobile-container,
    .social-links {
        display: none;
        position: relative;
    }
}

.menu-container.is-open {
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    width: 100vw;
    height: 100vh;
    z-index: 99;
    transform: scale(1);
    transition: transform 2500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-container__nav,
.menu-container__contacts {
    width: 100%;
}

.mobile-menu {

@media screen and (max-width: 767px) {
        display: flex;
        align-items: normal;
        justify-content: space-between;
    }
}


.menu-container.is-open .social-links {
    display: block;
}

.social-links__list {
    @extend %list;
    display: flex;
    flex-wrap: wrap;
}

.social-links__item {
    display: flex;
    // &:not(:last-child) {
    //     margin-right: 10px;
    // }
    &:not(:first-child) {
        margin-left: 10px;
    }
}

.social-links__link {
    @extend %link;
    color: var(--accent-color);
    font-size: 18px;
    line-height: 1.22;
    letter-spacing: 0.02em;
}

.social-links__line {
    display: block;
    margin-left: 10px;
    height: 22px;
    border-left: 1px solid rgba(33, 33, 33, 0.2);
}

.menu-container--bottom-part {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-end;
}