.nav__link,
.contacts__list--link {
    @extend %link;
}

.nav__list,
.contacts-list {
    @extend %list;
}

.contacts-list {
    margin-left: auto;
}

.nav__list {
    margin-left: 93px;
    margin-right: 318px;
}

.nav__items:not(:last-child) {
    margin-right: 50px;
}

.contacts-list__items:not(:last-child) {
    margin-right: 30px;
}

.nav__link {
    display: block;
    align-items: center;
    padding-top: 32px;
    padding-bottom: 32px;
    color: var(--grey-links);
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts__list--link {
    align-items: center;
    padding-top: 32px;
    padding-bottom: 32px;
    color: var(--grey-fontcolor);
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

// .nav {

// }

.container__nav {

    align-items: center;
}

.nav__link,
.contacts__list--link {
    &:hover,
    &:focus {
        color: var(--accent-color);
    }
}

.nav--current {
    position: relative;
    color: var(--accent-color);
}

.contacts-list__items {

    align-items: center;
}

.contacts-list__icon {
    margin-right: 10px;
    fill: #757575;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts__list--link {
    &:hover .contacts-list__icon,
    &:focus .contacts-list__icon {
        fill: var(--accent-color);
    }
}

.hline:after {
    content: " ";
    display: block;
    border-bottom: 1px solid #ECECEC;
}

.nav--current::after {
    display: block;
    position: absolute;
    margin-top: 30px;
    content: "";
    width: 100%;
    height: 4px;

    background: var(--accent-color);
    border-radius: 2px;
}
