.portfolio__foto {
    display: flex;
    justify-content: center;
    @media screen and (min-width: 480px) and (max-width: 768px) {
        width: 450px;
    }
    @media screen and (min-width: 768px) and (max-width: 1200px) {
        width: 354px;
    }
    @media screen and (min-width: 1200px) {
        width: 370px;
    }
}

.portfolio__name {
    font-family: inherit;
    margin-bottom: 4px;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--grey-links);
}

.portfolio__type {
    font-size: 16px;
    line-height: 1.88;
    color: var(--grey-fontcolor);
}

.portfolio {
    @extend %list;
    display: flex;
    flex-wrap: wrap;
}

// Відступи

@media screen and (max-width: 768px) {
    .portfolio__element:not(:last-child) {
        margin-bottom: 30px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
    .portfolio__element {
        width: 354px;
        margin: 15px;
    }

    .portfolio {
        margin: -15px;
    }
}

@media screen and (min-width: 1200px) {
    .portfolio__element {
        margin-right: 30px;
        margin-bottom: 30px;
    }

    .portfolio__element:nth-child(3n) {
        margin-right: 0;
    }

    .portfolio__element:nth-last-child(-n+3) {
        margin-bottom: 0;
    }
}

.portfolio__link {
    display: flex;
    flex-direction: column;
    height: 100%;
    box-shadow: none;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    @extend %link;
}

.portfolio__link {
    &:hover,
    &:focus {box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);}
}

.portfolio__legend {
    width: 100%;
    flex-grow: 1;
    // word-break: keep-all;
    border-left: 1px solid #EEEEEE;
    border-right: 1px solid #EEEEEE;
    border-bottom: 1px solid #EEEEEE;
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.portfolio__description {
    position: relative;
    overflow: hidden;
}

.portfolio__text {
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    width: 100%;
    height: 100%;
    padding: 63px 24px 40px 24px; 

    opacity: 0;
    background-color: rgba(33, 150, 243, 0.9);
    color: rgba(255, 255, 255, 1);
    font-size: 18px;
    line-height: 1.55;

    transform: translateY(+100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio__text {
    .portfolio__link:hover &,
    .portfolio__link:focus & {
        opacity: 1;
        transform: translateY(0);
    }
}
