.team {
    @extend %section;
    background-color: var(--second-white-background);
}

.team__title {
    @extend %section-title;
}

.team__title {
    margin-bottom: 50px;
}

.team__position {
    color: var(--grey-fontcolor);
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    margin-bottom: 16px;
}

.team__name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    margin-bottom: 10px;
}

.team__foto {
    margin-bottom: 30px;
}

.team__list {
    @extend %list;
}

.team__list .team__items+.team__items {
    margin-left: 30px;
}

.team__list .team__items {
    background: var(--main-backgroundcolor);
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.social__list {
    display: flex;
    align-items: center;
    margin-left: 32px;
    margin-right: 32px;
    margin-bottom: 30px;
    @extend %list;
}

.social__item {
    height: 44px;
    width: 44px;
}

.social__item:nth-last-child(-n+3) {
    margin-left: 10px;
}

.social__link {
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border-radius: 22px;
    border: none;
    background-color: inherit;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social__icon {
    fill: #AFB1B8;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social__link {
    &:hover,
    &:focus {
        background-color: var(--accent-color);
    }
}

.social__icon {
    .social__link:hover &,
    .social__link:focus & {
        fill: var(--white-fontcolor);
    }
}

