.team {
    @extend %section;
    background-color: var(--second-white-background);
}

.team__title {
    @extend %section-title;
}

.team__position {
    color: var(--grey-fontcolor);
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    margin-bottom: 16px;
}

.team__name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    margin-bottom: 10px;
    margin-top: 30px;
}

.team__foto {
    width: 100%;
    // margin-bottom: 30px;
    @media screen and (min-width: 480px) and (max-width: 767px) {
        width: 450px;
        height: 460px;       
        display: flex;
        justify-content: center;
        margin-left: auto;
        margin-right: auto;
    }

    @media screen and (min-width: 768px) and (max-width: 1199px) {
        width: 354px;
        height: 374px;
    }

    @media screen and (min-width: 1200px) {
        width: 270px;
        height: 260px;
    }
}

.team__list {
    @extend %list;

    @media screen and (max-width: 767px) {
    display: flex;
    flex-wrap: wrap;
    }

    @media screen and (min-width: 768px) and (max-width: 1199px) {
        display: flex;
        flex-wrap: wrap;
        margin: -15px;
    }

    @media screen and (min-width: 1200px) {
        display: flex;
    }
}

@media screen and (max-width: 767px) {
    .team__items {
        margin-bottom: 30px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
    .team__items {
        margin: 15px;
    }
}

@media screen and (min-width: 1200px) {
.team__list .team__items+.team__items {
    margin-left: 30px;
}
}

.team__list .team__items {
    background: var(--main-backgroundcolor);
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.social__list {
    display: flex;
    align-items: center;
    @extend %list;

    @media screen and (max-width: 767px) {
        margin-left: 122px;
        margin-right: 122px;
        margin-bottom: 24px;
    }

    @media screen and (min-width: 768px) and (max-width: 1199px) {
        margin-left: 74px;
        margin-right: 74px;
        margin-bottom: 24px;
    }

    @media screen and (min-width: 1200px) {
        margin-bottom: 30px;
        margin-left: 32px;
        margin-right: 32px;
    }
}

.social__item {
    height: 44px;
    width: 44px;
}

.social__item:nth-last-child(-n+3) {
    margin-left: 10px;
}

.social__link {
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border-radius: 22px;
    border: none;
    background-color: inherit;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social__icon {
    fill: #AFB1B8;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social__link {
    &:hover,
    &:focus {
        background-color: var(--accent-color);
    }
}

.social__icon {
    .social__link:hover &,
    .social__link:focus & {
        fill: var(--white-fontcolor);
    }
}

