.menu {
    @extend %section;
}

.menu__button {
    display: block;
    color: var(--main-blackcolor);
    background-color: var(--second-white-background);
    border-radius: 4px;
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    text-align: center;
    cursor: pointer;
    border: none;
}

.menu__list {
    @extend %list;

    @media screen and (max-width: 767px) {
        display: flex;
        flex-wrap: wrap;
        row-gap: 15px;
        width: 326px;
        margin-bottom: 40px;
    }

    @media screen and (min-width: 767px) and (max-width: 1599px) {
        display: flex;
        justify-content: center;
        margin-bottom: 14px;
    }

    @media screen and (min-width: 1600px) {
        display: flex;
        justify-content: center;
        margin-bottom: 34px;
    }
}

.menu__button {
    margin-right: 8px;
    padding: 6px 22px;
    box-shadow: none;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu__button :last-child {
    margin-right: 0px;
}

.menu__button {
    &:hover,
    &:focus {
        color: var(--white-fontcolor);
        background-color: var(--accent-color);
        box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    }
}